body { padding-top: 60px !important; }

.right { float: right; }
.left { float: left; }
.clear { clear: both; }
.hidden { display: none; }
.visible { display: block; }

.mLeft { margin-left: 4px; }
.mRight { margin-right: 4px; }

.ajaxLoader { width: 16px; height: 16px; background: url('/static/global/images/loader.gif'); display: inline-block; }

.profitPlus { color: green; }
.profitMinus { color: red; }
